In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [105]:
label = "grav"

# Lecture dataset
df = pd.read_csv("dataset/usagers-2022.csv", sep=';')
df

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,968 230,715 631,A01,1,1,1,2,2002.0,5,1,-1,-1,0,0,-1
126658,202200055301,968 231,715 631,A01,8,2,3,2,2004.0,5,1,-1,-1,0,0,-1
126659,202200055301,968 232,715 632,B01,1,1,4,2,1953.0,5,1,-1,-1,0,0,-1
126660,202200055302,968 228,715 629,A01,1,1,3,1,1992.0,1,2,6,-1,-1,-1,-1
126661,202200055302,968 229,715 630,B01,1,1,1,1,2000.0,-1,1,-1,-1,-1,-1,-1

In [106]:
for column in df.columns:
  print(column, df[column].isnull().values.any()) # afficher s'il y a des valeurs nulles

Num_Acc False
id_usager False
id_vehicule False
num_veh False
place False
catu False
grav False
sexe False
an_nais True
trajet False
secu1 False
secu2 False
secu3 False
locp False
actp False
etatp False

On peut déjà remarquer qu'il y a des valeurs nulles pour l'attribut *an_nais*.

In [107]:
# valeurs numériques
numerical_features = list(df.select_dtypes(include=np.number).columns)

# valeurs catégorielles
categorical_features = list(set(df.columns)-set(numerical_features))
print("numerical : ", numerical_features)
print("categorical : ", categorical_features)

numerical :  ['Num_Acc', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'etatp']
categorical :  ['id_vehicule', 'actp', 'num_veh', 'id_usager']

In [115]:
def to_bin(i):
    if i == 2:
        return 1
    else:
        return 0

df[label] = [to_bin(i) for i in df[label]]
df[label]

0         0
1         0
2         0
3         0
4         0
         ..
126657    0
126658    0
126659    0
126660    0
126661    0
Name: grav, Length: 126662, dtype: int64

In [109]:
# one_hot encodage
one_hot_data = pd.get_dummies(df[[categorical_features[1],categorical_features[2]]])

In [110]:
X_numerical_features = [num_feature for num_feature in numerical_features if num_feature!=label]
df_X = pd.concat([df[X_numerical_features], one_hot_data], axis = 1)
df_X

,Num_Acc,place,catu,sexe,an_nais,trajet,secu1,secu2,secu3,locp,...,num_veh_W01,num_veh_WX01,num_veh_X01,num_veh_XB01,num_veh_Y01,num_veh_Z01,num_veh_ZA01,num_veh_ZZ01,num_veh_[01,num_veh_\01
0,202200000001,1,1,1,2008.0,5,2,8,-1,-1,...,False,False,False,False,False,False,False,False,False,False
1,202200000001,1,1,1,1948.0,5,1,8,-1,-1,...,False,False,False,False,False,False,False,False,False,False
2,202200000002,1,1,1,1988.0,9,1,0,-1,0,...,False,False,False,False,False,False,False,False,False,False
3,202200000002,1,1,1,1970.0,4,1,0,-1,0,...,False,False,False,False,False,False,False,False,False,False
4,202200000003,1,1,1,2002.0,0,1,0,-1,-1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,1,1,2,2002.0,5,1,-1,-1,0,...,False,False,False,False,False,False,False,False,False,False
126658,202200055301,8,2,2,2004.0,5,1,-1,-1,0,...,False,False,False,False,False,False,False,False,False,False
126659,202200055301,1,1,2,1953.0,5,1,-1,-1,0,...,False,False,False,False,False,False,False,False,False,False
126660,202200055302,1,1,1,1992.0,1,2,6,-1,-1,...,False,False,False,False,False,False,False,False,False,False
126661,202200055302,1,1,1,2000.0,-1,1,-1,-1,-1,...,False,False,False,False,False,False,False,False,False,False

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_X, df[label], test_size=0.33, random_state=42)

In [112]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(random_state=42)
clf = clf.fit(X_train, y_train)

preds = clf.predict(X_test)

clf.score(X_test, y_test)

0.5559463145051317

In [113]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y_test, preds).ravel()
tn, fp, fn, tp

ValueError: too many values to unpack (expected 4)

In [ ]:
import plotly.express as px


fig = px.imshow([[tn, fp], [fn, tp]], text_auto=True, labels=dict(y="Truth", x="Pred"),
                x=["False", "True"],
                y=["False", "True"]
               )
fig.show()

NameError: name 'tn' is not defined